.meanings {
    display: flex;
    flex-direction: column;
    overflow-y:scroll;
    scrollbar-width: thin;
    height: 55vh;
    border: 10px solid rgb(105, 105, 105);
    border-radius: 5px;
    padding: 10px 20px;
    overflow-x: hidden;

}

.subtitle {
    font-size: 36px;
    font-family: "Montserrat", sans-serif;;
}

.singlemean {
   display: flex;
   flex-direction: column;
   border-radius: 10px;
   margin: 10px 0;
}

.horizontal {
    background-color: black;
    width: 100%;
}

@media (max-width: 900px) {
    .meanings {
        height: 60vh;
        overflow-x: hidden;
        overflow-y: scroll;
    }
}